{% extends "email/base.html" %}

{% block title %}Password Reset - {{ settings.APP.NAME }}{% endblock %}

{% block content %}
<p>Hello {{ recipient_name }},</p>

<p>We received a request to reset your password for your {{ settings.APP.NAME }} account. If you didn't make this request, you can safely ignore this email.</p>

<p>To reset your password, please click the button below:</p>

<center><a href="{{ reset_url }}" class="button">Reset Password</a></center>

<div class="note">
    <p><strong>Note:</strong> This link will expire in 24 hours.</p>
</div>

<p>If the button above doesn't work, you can copy and paste the following URL into your browser:</p>
<p style="word-break: break-all; font-size: 14px;">{{ reset_url }}</p>

<p>If you have any questions or need further assistance, please contact our support team.</p>
{% endblock %}

{% block year %}{{ current_year }}{% endblock %} 